{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script src="https://kit.fontawesome.com/7b554c9ed1.js" crossorigin="anonymous"></script>
    <title>Certificates</title>
  </head>
  <body>

    <nav id="navbar">
        <ul>
          <li class="logo"><img src="{% static '/image/image__16_-removebg-preview.png' %}" alt=""></li>
          <li><a href="index.html">Home</a></li>
          <li><a href="index.html">About Me</a></li>
          <li><a href="#education">Education</a></li>
          <li><a href="index.html">Skills</a></li>
          <li><a href="index.html">Projects</a></li>
          <li><a href="index.html">Experience</a></li>
          <li><a href="certificate.html">Certificates</a></li>
          <li><a href="index.html">Contact Me</a></li>
        </ul>
  
      </nav>

    <section id="certificate">
        <div class="container">
          <h1><img src="{% static 'image/icons8-certificate-60.png' %}" alt="" /> Certificates</h1>
            <div class="work-list">
                <div class="work">
                    <img src="{% static 'image/AWS APAC completion_certificate_page-0001.jpg' %}">
                    <div class="layer">
                        <h3>AWS APAC Virtual program Completion Certificate</h3>
                    </div>
                </div>
                <div class="work">
                    <img src="{% static 'image/J.P. Morgan completion_certificate_page-0001.jpg' %}">
                    <div class="layer">
                        <h3>J.P. Morgan Virtual program Completion Certificate</h3>   
                    </div>
                </div>
                <div class="work">
                    <img src="{% static 'image/machine learning certificate_page-0001.jpg' %}">
                    <div class="layer">
                        <h3>Machine Learning course Certificate</h3>  
                    </div>
                </div>
                <div class="work">
                  <img src="{% static 'image/Introduction to C++_page-0001.jpg' %}">
                  <div class="layer">
                      <h3>Introduction to C++ course Certificate</h3>
                  </div>
                </div>
                <div class="work">
                  <img src="{% static 'image/C++ Intermediate_page-0001.jpg' %}">
                  <div class="layer">
                      <h3>C++ Intermediate course Certificate</h3>   
                  </div>
                </div>
                <div class="work">
                  <img src="{% static 'image/React.js_page-0001.jpg' %}">
                  <div class="layer">
                      <h3>React Js course Certificate </h3>  
                  </div>
                </div>
                <div class="work">
                  <img src="{% static 'image/SQL Introduction.jpg' %}">
                  <div class="layer">
                     <h3>Introduction to SQL course Certificate</h3>
                  </div>
                </div>
                <div class="work">
                   <img src="{% static 'image/HTML_page-0001.jpg' %}">
                    <div class="layer">
                      <h3>HTML course Certificate</h3>   
                    </div>
                </div>
                <div class="work">
                   <img src="{% static 'image/CSS_page-0001.jpg' %}">
                    <div class="layer">
                       <h3>CSS course Certificate</h3>  
                    </div>
                </div>
  
            </div>
           
        </div>
      </div>
    </section>
    <footer>
        <a href="#" class="arrow-up" title="Back to top">
            <i class="fas fa-arrow-up"></i>
          </a>
    </footer>
  </body>
</html>
